/* DATE */
.date-box {
    background: rgb(73, 73, 73);
    color: rgb(228, 228, 228);
    font-size: 25px;
    padding: 4px;
    position: sticky;
    top: 0px;
    z-index: 1;
    display: flex;
    justify-content: space-around;
}

.date-box i {
    font-size: 30px;
    padding-top: 3px;
}

/* GOAL INTAKE */
.goal-total-cal {
    background: var(--blue_d);
    color: white;
    padding: 4px;
    font-size: 17px;
    position: relative;
}
.goal-total-cal .username {
    display: flex;
    position: absolute;
    right: 10px;
    top: 5px;
}
.goal-intake {
    color: white;
    background: var(--blue_l);
    display: flex;
    justify-content: space-around;
}
.title-cal {
    width: 100%;
    padding: 3px;
}

.in-title {
    font-size: 14px;
}
.in-amount {
    font-size: 16px;
}

.set-goal {
    background: var(--blue_l);
    color: white;
    padding: 5px;
}
.set-my-goal {
    width: 30vw;
    margin: 10px auto;
    background: green;
    font-size: 18px;
    padding: 5px;

}


/* AMOUNT INTAKE */
.amount-intake {
    color: white;
    position: sticky;
    top: 43px;
    z-index: 1;
}

.nutrients {
    display: flex;
}

.nutrients .nutrient {
    width: 100%;
    padding: 5px;
}

.nutrients .fat {
    background: var(--blue);
}
.nutrients .carb {
    background: var(--orange);
}
.nutrients .protein {
    background: var(--teal);
}

.nutrient .top {
    font-size: 12px;
}

.nutrient .middle {
    font-size: 40px;
    display: flex;
    margin: 0px auto;
    justify-content: center;
    padding-left: 3vw;
}

.nutrient .middle span {
    font-size: 17px;
    padding: 4px 5px;
}

.nutrient .bottom {
    font-size: 12px;
}

/* DAILY INTAKE */
.daily-intake {
    opacity: 0;
}

.show-intake-page {
    opacity: 1;
    transition: opacity .3s;
}

.my-daily-intake {
    font-size: 16px;
    position: sticky;
    top: 147px;
    z-index: 1;
    background: rgb(73, 73, 73);
    color: rgb(228, 228, 228);
    padding: 2px;
}

/* FOOD INTAKE */
.food-intake {
    border-bottom: 1px solid #efefef;
    margin-bottom: 10px;
    text-align: left;
    max-width: 100vw;
    /* transition: all 1s; */
}
.food-header {
    background: #7e7e7e;
    padding: 3px;
    color: white;
}
.food-name {
    display: inline-block;
}
.food-cal {
    float: right;
}
.food-nutrition {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.food-fcp {
    background: #dedede;
    width: 100%;
    transform: translateX(0px);
    transition: all .3s;
}
.move-food-fcp {
    transform: translateX(-77px);
    transition: all .3s;
}
.edit-delete {
    display: flex;
    float: right;
    justify-content: space-evenly;
    color: white;
    position: absolute;
    right: 32px;
    z-index: -1;
    /* transition: all 1s; */
}
.reset-z {
    z-index: 0;
    transition-delay: .3s;
}
.edit-delete .edit {
    background: rgb(51, 97, 172);
    text-align: center;
    padding: 7px;
    width: 100%;
}
.edit-delete .delete {
    background: rgb(184, 50, 50);
    text-align: center;
    padding: 7px;
    width: 100%;
    /* transition: width .5s; */
}
.edit-delete .show-menu {
    /* padding: 7px; */
    /* transition: all .5s; */
}
.show-menu-box {
    width: 100px;
    /* transition: all 1s; */
}

.more-vert {
    background: #adadad;
    color: black;
    text-align: center;
    padding: 7px 4px;
}
.nutrition-name {
    display: flex;
    border-bottom: 1px solid #adadad;
    font-size: 14px;
    width: 100%;
}
.nutrition-amount {
    display: flex;
    font-size: 14px;
}
.food-cell {
    width: 100%;
    text-align: center;
    border-right: 1px solid #adadad;
}

.fade-enter {
    opacity: 0.01;
    transform: translate(-40px, 0);
}

.fade-enter-active {
    opacity: 1;
    transform: translate(0, 0);
    transition: all 300ms ease-in;
}


.fade-exit {
    opacity: 1;
    transform: translate(0, 0)
}

.fade-exit-active {
    opacity: 0;
    transform: translate(-400px, 0);
    transition: all .3s ease-in;
}

/* FOOD MODAL */

.modal-header {
}
.modal-header input {
    display: inline-block;
    float: left;
    font-size: 18px;
    padding: 4px;
    width: 65%;
}
.custom-add-button {
    display: inline-block;
    float: right;
    margin-right: 17px;
}
.add-custom-food {
    background: rgb(20, 136, 0);
    font-size: 18px;
    color: white;
    padding: 5px 15px;
}
.add-custom-food:hover {
    background: rgb(25, 158, 2);
    color: white;
}

.food-modal-body {
    height: 65vh;
    font-size: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.footer-button {
    font-size: 18px;
    padding: 5px 12px;
    color: white;
    background: rgb(92, 92, 92);
    margin: 0px 15px;
}

.footer-button:hover {
    background: rgb(116, 115, 115);
    color: white;
}

/* CUSTOM FOOD */

.custom-edit-add {
    display: flex;
}

.custom-edit {
    padding: 9px 9px 0px 9px;
    background: #adadad;
    border-right: 1px solid gray;
}

.custom-add {
    padding: 9px 9px 0px 9px;
    background: #adadad;
    border-right: 1px solid gray;
}

.add-custom-food {
    background: rgb(20, 136, 0);
    font-size: 18px;
    color: white;
    padding: 5px 15px;
}
.nutrition-amount input {
    border: 1px solid #adadad;
}
.food-active {
    background: rgb(20, 136, 0);
    color: white;
}
.food-editing {
    background: rgb(0, 75, 136);
    color: white;
}

/* GOAL MODAL */
.goal-modal .gender {
    display: flex;
    margin-bottom: 10px;
    font-size: 16px;
}
.gender input {
    width: 62px;
    margin-left: 10px;
}
.goal-modal .weight {
    display: flex;
    margin-bottom: 10px;
    font-size: 16px;
}
.weight input {
    width: 84px;
    padding: 1px 3px;
}
.weight span{
    font-size: 15px;
    padding: 3px 8px;
    margin-right: 5px;
}
.goal-modal .height {
    display: flex;
    margin-bottom: 10px;
    font-size: 16px; 
}

.height .select-feet {
    width: 84px;
    margin-right: 10px;
    padding: 3px 0px;
}

.height .select-inch {
    width: 62px;
}

.select-goal {
    margin-bottom:10px;
    font-size: 16px;
    padding: 3px 0px;
}
.select-exercise {
    margin-bottom: 10px;
    font-size: 16px;
    padding: 3px 0px;
    width: 100%;
}
.select-training {
    margin-bottom:10px;
    font-size: 16px;
    padding: 3px 0px;
    width: 100%;
}

.goal-modal Button {
    font-size: 16px;
    margin:10px 0px 20px 0px;
    background: #dedede;
}
.modal-nuts {
    display: flex;  
}
.modal-nuts .nut {
    margin: 10px 10px 10px 0px;
    font-weight: bold;
}
.modal-total-cal {
    font-weight: bold;
}
.setgoal-cancel {
    font-size: 16px;
    background: #dedede;
}
.setgoal-save {
    background: green;
    color: white;
    font-size: 16px;
}
.setgoal-save:hover {
    background: rgb(0, 104, 0);
    color: white;
}

