.loader {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    background:rgba(0, 0, 0, 0.4);
    color: white;
    text-align: center;
    z-index: 2;
}

.loader .spinner-gif {
    /* padding-top: 60px; */
}