.mf {
	padding-bottom: 15px;
	border-bottom: 1px solid #dedede;
	box-shadow: 0px 1px 3px #dedede;
	margin-bottom:70px;
}
.mf .sticky {
	position: sticky;
	top: 0px;
	background: white;
	z-index: 1;
}

	/* TITLE */
		.mf .title {
				display: flex;
				width: 100%;
				font-weight: bold;
				border-bottom: 1px solid #dedede;
				padding: 2px 0px;
				background: #e4e4e4 !important;
		}
			.mf .nut {
					width: 100%;
			}

	
		/* FOOD */
		.mf .food {
				text-align: left;
				width: 100%;
				border-bottom: 1px solid #dedede;
				position: relative;
				transform: translateX(0px);
				transition: all .3s;
				background: white;
				z-index: 1;
		}
			.mf .food-name {
				width: 100%;
				font-weight: bold;
				padding: 10px 10px 2px 7px;
				display: flex;
			}

			.mf .rotate-i {
				transform: rotate(180deg);
				transition: all .5s;
			}

			.mf .move-food {
				transform: translateX(-120px);
    		transition: all .3s;
			}
				.mf .food .add i {
					color: green;
					font-size: 35px;
				}
				.mf .arrow {
				}
				.mf .food .arrow i {
					font-size: 22px;
					margin-top: 7px;
					transition: all .5s;
				}
				.mf .text {
					height: 40px;
					width: 100%;
					padding: 7px 0px 0px 0px;
					margin-left: 5px;
				}
				.mf .text span {
					color: green;
				}
				
			.mf .amounts {
				display: flex;
				font-weight: bold;
				color: gray;
				padding-bottom: 2px;
				margin-top: -4px;
			}
				.mf .amount {
						width: 100%;
						text-align: center;
				}

		.mf .you-added {
			background: rgb(0, 125, 241);
			position: absolute;
			top: 0px;
			right: 0px;
			z-index: 1;
			font-size: 13px;
			color: white;
			padding: 3px 7px;
			transform: translate(0px, 0px)
		}

		.mf .show-you-added {
			transform: translate(0px, 0px);
			transition: all .5s;
		}

		.mf .hide-you-added {
			transform: translate(138px, 0px);
			transition: all .5s;
		}
			
	/* MENU */
	.mf .menu {
		display: flex;
		position: absolute;
		right: 0px;
		top: 0px;	
		height: 72px;
		width: 100%;
		border-bottom: 1px solid #dedede;
		background: #efefef;
		justify-content: flex-end;
	}

	.mf .delete i {
	}

	.mf .menu .delete {
		text-align: center;
	}

	.mf .menu .icon {
		padding: 5px 5px 5px 5px;
		margin: 8px 8px 8px 0px;
	}
	
	.mf .menu-text {
		font-size: 13px;
		font-weight: bold;
		margin-top: -10px !important;
	}

	/* .mf .reset-z {
		z-index: 0;
} */


	/* UNIVERSAL */
	.align-left {
		text-align: left !important;
		padding-left: 10px;
	}

	.inline {
		display: inline-block;
	}

	.float-right {
		float: right;
	}
	.float-left {
		float: left;
	}


	/* animation */
	.added-enter {
		opacity: 0.01;
		transform: translate(-40px, 0);
	}
	
	.added-enter-active {
		opacity: .2;
		transform: translate(0, 0);
		transition: all 400ms ease-in;
	}
	
	
	.added-exit {
		opacity: 1;
		transform: translate(0, 0)
	}
	
	.added-exit-active {
		transform: translate(-400px, 0);
		transition: all .4s ease-in;
	}

